In [27]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import joblib

In [28]:
data = pd.read_csv("C:\\Users\\Rohit Mhatre\\Downloads\\UPDATED SECTOR 2mar.csv")
data.drop('Unnamed: 0',axis=1,inplace=True)

In [29]:
df = data.copy()
print(df.shape)
df.head()

(1756, 3)

          SYMBOL       Sector         NSE CODE
0   GRINDWELL:NS    ABRASIVES   NSE:GRINDWELL,
1  CARBORUNIV:NS    ABRASIVES  NSE:CARBORUNIV,
2       WENDT:NS    ABRASIVES       NSE:WENDT,
3        BBTC:NS  AGRICULTURE        NSE:BBTC,
4       BSHSL:NS  AGRICULTURE       NSE:BSHSL,

In [30]:
df['SYMBOL'] = df['SYMBOL'].str.replace(':','.')
df.set_index(df['SYMBOL'],inplace=True)
df.drop('SYMBOL',axis=1,inplace=True)

In [31]:
df['base'] = np.nan

for i in range(1,10):
    df[f"Week {i}"] = np.nan

Below are the important dates we needed to fetch the closing price of thier. Note- (This dates are provided by skateholder)

In [32]:
dates = ["2024-09-27","2025-02-05", "2025-01-27","2025-01-02",'2024-12-20','2024-12-05','2024-11-21','2024-11-07','2024-10-15','2024-09-27']

In [33]:
for sym in df.index:
    try:
        stock = yf.Ticker(sym)
        hist = stock.history(period='1y')
        
        for date,week in zip(dates,['base','Week 1','Week 2','Week 3','Week 4','Week 5','Week 6','Week 7','Week 8','Week 9']):
            if date in hist.index:
                df.loc[sym, week] = np.ceil(hist.loc[date]['Close'] * 100) / 100
    except Exception as e:
        print(f"Fetching Error for ticker {sym} : {e}")

$IIFLSEC.NS: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")

In [34]:
joblib.dump(df,'Stock.pkl')

['Stock.pkl']

Nifty Data Fetching

In [35]:
nifty_df = pd.DataFrame(columns = ['Symbol'])
nifty_df.set_index('Symbol',inplace=True)
nifty_df['base'] = np.nan
for i in range(1,10):
    nifty_df[f"Week {i}"] = np.nan

Symbol = '^NSEI'
stock = yf.Ticker(Symbol)
hist = stock.history(period='1y')
for date,week in zip(dates,['base','Week 1','Week 2','Week 3','Week 4','Week 5','Week 6','Week 7','Week 8','Week 9']):
    if date in hist.index:
        nifty_df.loc[Symbol,week] = np.ceil(hist.loc[date]['Close'] * 100) / 100

In [36]:
nifty_df

,base,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9
Symbol,,,,,,,,,,
^NSEI,26178.95,23696.31,22829.16,24188.66,23587.5,24708.41,23349.91,24199.35,25057.35,26178.95

In [37]:
joblib.dump(nifty_df,"Nifty.pkl")

['Nifty.pkl']